.inverstors-partners {
	background-image: url("../../app/assets/img/investback.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 450px;
	margin-top: 10vh;
}
.inverstors-partners h2 {
	color: white;
	font-size: 38px;
}
.inverstors-partners_flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 3vh;
}
.inverstors-partners_flex-left {
	width: 45%;
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 5vh;
}
.inverstors-partners_flex-left p {
	color: white;
	font-size: 18px;
}
.inverstors-partners_flex-rigth {
	width: 45%;
	display: grid;
	grid-template-columns: repeat(2,1fr);
	gap: 3vh;
	background-image: url("../../app/assets/img/bgsvg-investors.png");
	background-position:left ;
}
.inverstors-partners_flex-rigth div {
	width: 250px;
	height: 100px;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
}
@media (max-width: 510px){
	.inverstors-partners{
		height: 90vh;
	}
	.inverstors-partners_flex{
		flex-direction: column;
		gap: 2vh;
	}
	.inverstors-partners h2 {
		font-size: 24px;
	}
	.inverstors-partners_flex-left{
		width: 98%;
	}
	.inverstors-partners_flex-rigth{
		width: 90%;
	}
	.inverstors-partners_flex-rigth div{
		width: 130px;
		height: 70px;
	}
	.inverstors-partners_flex-rigth div img{
		width: 50%;
	}
}