.inviting_text {
	width: 60%;
	margin: auto;
	text-align: center;
	padding: 10vh 0;
	color: white;
	display: flex;	
	flex-direction: column;
	gap: 2vh;
	align-items: center;
}
.inviting_text h2 {
	font-size: 32px;
}