.partners{
	margin: 5vh 0;
}
.partners h2 {
	font-size: 32px;
	color: #1178B2;
}
.partners_grid {
	display: grid;
	grid-template-columns: repeat(4,1fr);
	gap: 3vh;
	margin: 5vh 0;
}
.partners_grid div {
	padding: 3vh;
	box-shadow: 0 0 5px grey;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
}
@media (max-width: 510px){
	.partners_grid{
		grid-template-columns: repeat(2,1fr);
	}
	.partners_grid div img{
 width: 90%;
	}
}
