.services h3 {
  font-size: 32px;
  color: #1178b2;
}

.services_analitics,
.services_onlineAcselerator {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5vh 0;
}
.services_analitics-text,
.services_onlineAcselerator-text {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
}
.services_analitics-text h5,
.services_onlineAcselerator-text h5 {
  font-size: 22px;
  color: #1178b2;
}
.services_analitics-text p,
.services_onlineAcselerator-text p {
  font-size: 18px;
  color: rgb(94, 92, 92);
}
.services_analitics-text button,
.services_onlineAcselerator-text button {
  border: none;
  background-color: #07af91;
  color: white;
  padding: 3vh 5vh;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
}
@media (max-width: 760px){
  .services_analitics{
    flex-direction: column-reverse;
  }
.services_onlineAcselerator{
  flex-direction: column;
}
.services_analitics img {
  width: 100%;
}
.services_analitics-text,
.services_onlineAcselerator-text{
  width: 95%;
}

}