.consultation{
    background-image: url("../../app/assets/img/sec3back.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background-color: aqua; */
}
.consultation_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10vh;
    justify-content: center;
    padding: 20% 0;
}
.consultation_text h2{
    font-size: 44px;
    color: white;
    background-color: #07AF91;
}
.consultation_text p {
    color: white;
    font-size: 24px;
}
.consultation_text button {
    border: none;
    border-radius: 10px;
    padding: 3vh 5vh;
    font-size: 18px;
    color: white;
    background-color: #61B5E4;
}
@media (max-width: 760px){
    .consultation_text h2 {
        font-size: 24px;
    }
    .consultation_text p {
        font-size: 18px;
    }
    .consultation_text button{
        font-size: 16px;
    }
}